<div data-role="view" data-title="Home" data-layout="main" data-model="app.homeView" data-show="app.homeView.onShow" data-after-show="app.homeView.afterShow" id="homeViewScreen" class="screen">
    <div class="about-view screen__content screen__content--about" data-bind="invisible:error">
        <div class="icon-group">

            <div class="app-icon">
                <img src="resources/th155L8NMJ.jpg">
            </div>


            <div class="app-details">
                <h2>Enexis</h2>

            </div>
        </div>


        <div class="button-group button-group-vertical">


        </div>
        <!-- START_CUSTOM_CODE_homeViewModel -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

        <!-- END_CUSTOM_CODE_homeViewModel -->
    </div>

    <!-- START_CUSTOM_CODE_homeView -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_homeView -->
</div>