<div data-role="view" data-title="Edit" data-model="app.homeView1.editItemViewModel" data-bind="events: { show: onShow }" id="homeView1ModelEditScreen" class="screen screen--edit edit-item-view">
    <header data-role="header">
        <div data-role="navbar" class="header-text">
            <span>Wijzigen</span>
            <a data-role="backbutton" data-align="left" data-bind="events: { click: onCancel }">Cancel</a>
            <a data-role="button" data-align="right" data-bind="events: { click: onSaveClick }">Save</a>
        </div>
    </header>
    <!-- START_CUSTOM_CODE_homeView1Model -->
    <!-- END_CUSTOM_CODE_homeView1Model -->
    <div id="editableListForm6" class="form-view screen__content screen__content--form">
        <form>
            <ul class="form-content" data-role="listview" data-style="inset">
                <li class="form-content-item">


                    <label id="textFieldField" class="field field--text km-label-above">
                        <span class="field__label">Extra informatie</span>


                        <input id="textField" data-bind="value: editFormData.textField" placeholder="Extra ..." type="text">

                    </label>
                </li>
            </ul>
        </form>
        <!-- START_CUSTOM_CODE_editableListForm6 -->
        <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->
        <!-- END_CUSTOM_CODE_editableListForm6 -->
    </div>
</div>